*.d
*.o
*.lock
*.log
.history
*.pdom
.markers.snap
*.snap
/eclipse/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/eclipse/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
/eclipse/.metadata/.plugins/org.eclipse.core.resources/.safetable
/eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects
/eclipse/.metadata/version.ini
*.mk
subdir.mk
/eclipse/test_driver_sdk/Debug/test/*.mk
.metadata
org.eclipse.ui.workbench
org.eclipse.cdt.make.core
org.eclipse.cdt.managedbuilder.core
org.eclipse.cdt.ui
org.eclipse.core.resources
org.eclipse.core.runtime
org.eclipse.jdt.core
org.eclipse.oomph.setup
org.eclipse.tm.terminal.view.ui
org.eclipse.ui.intro
/eclipse/.metadata/.plugins/org.eclipse.tm.terminal.view.ui
/eclipse/.metadata/.plugins/org.eclipse.cdt.ui
/eclipse/.metadata/.plugins/org.eclipse.core.resources
/eclipse/.metadata/.plugins/org.eclipse.core.runtime
Debug
latex
html
build/
